*{
background-color: black;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

